<div class="view-toggle">
  <label>
    <input type="checkbox" [(ngModel)]="isDayView">
    Day view
  </label>
</div>

<!-- EVENT TEMPLATE -->
<ng-template #eventTemplate let-event="event">

  <div class="custom-event">
    <button
      class="event-check"
      [disabled]="event.meta?.checked"
      (click)="completeFromCalendar(event, $event)"
      [title]="event.meta?.checked ? 'Completed' : 'Mark complete'">
      {{ event.meta?.checked ? '✓' : '☐' }}
    </button>

    <div class="event-title">
      {{ event.title }}
    </div>
    <div class="event-time">
      {{ event.start | date:'HH:mm' }} - {{ (event.end || event.start) | date:'HH:mm' }}
    </div>

  </div>

</ng-template>


<div class="calendar-scroll">
  <!-- WEEK VIEW -->
  <mwl-calendar-week-view
    *ngIf="!isDayView"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [weekStartsOn]="weekStartsOn"
    [eventTemplate]="eventTemplate"
    (hourSegmentClicked)="handleHourClick($event)"
    (eventClicked)="handleEventClick($event.event)">
  </mwl-calendar-week-view>


  <!-- DAY VIEW -->
  <mwl-calendar-day-view
    *ngIf="isDayView"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [eventTemplate]="eventTemplate"
    (hourSegmentClicked)="handleHourClick($event)"
    (eventClicked)="handleEventClick($event.event)">
  </mwl-calendar-day-view>
</div>
