.points-card {
    width: 100%;
    max-width: 135px;
    margin-top: 5px;
}

.top-row {
    display: flex;
    justify-content: space-between; // Star left and Gift right side
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.progress-container {
    background: #e0e0e0;
    height: 8px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
}

.progress-bar {
    background: #086e03;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.gift-icon {
    font-size: 0.9rem;
}